<div class="cart-container">
  <h2>Your Cart</h2>

  <div *ngIf="cart.length > 0; else emptyCart">
    <ul class="cart-list">
      <li *ngFor="let product of cart; let i = index" class="cart-item">
        <div class="product-image">
          <img [src]="product.imageUrl" alt="{{ product.name }}" />
        </div>
        <div class="product-details">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <p>{{ product.price }}</p>
          <div class="button-container">
            <button (click)="removeFromCart(i)" class="remove-button">Remove</button>
            <button (click)="buyNow(product)" class="buy-button">Buy Now</button>
          </div>
          
        </div>
      </li>
    </ul>
  </div>

  <ng-template #emptyCart>
    <p class="empty-cart-message">Your cart is empty!</p>
  </ng-template>
</div>
